{% extends "@Front/layout.html.twig" %}

{% block container %}
    <section class="breadcrumb-area" style="background-image: url({{ asset('front/images/resources/breadcrumb-bg.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <h1>Buy Ticket</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="event-area" style="background-image:url({{ asset('front/images/team/team-bg.jpg') }});">
        <div class="container">
            <div class="sec-title text-center">
                <div class="underlay text-center">
                    <h2>Event <span>Speakers</span></h2>
                </div>
                <h1>Event Speakers</h1>
            </div>
            <div class="row">


                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="team-members">

                        {% for produit in produits %}
                        <!--Start single team member-->
                        <div class="single-team-member">
                            <div class="img-holder">

                                <img src="{{ asset(produit.image) }}" alt="Awesome Image">
                                <div class="overlay-style-one">
                                    <div class="box">
                                        <div class="content">
                                            <ul class="social-links">
                                                <li><a href="{{ path('produit_show', { 'id': produit.id }) }}"><i > Details</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <h3>{{ produit.libelle }}</h3>
                                <span>{{ produit.categorie }}</span>
                            </div>
                        </div>
                        <!--End single team member-->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>




















    <h1>Produits list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Categorie</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.prix }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produit_show', { 'id': produit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produit_edit', { 'id': produit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produit_new') }}">Create a new produit</a>
        </li>
    </ul>




{% endblock %}
