{% extends "@Front/layout.html.twig" %}


{% block container %}
<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(front/images/resources/breadcrumb-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <h1>Buy Ticket</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->




    <!--Start blog area-->
    <section id="blog-area" class="blog-grid-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="blog-post">
                        <div class="row">
                            <!--Start single blog item-->
                        </div>

    {% for publicite in pub %}
                        <div class="row">
                            <!--Start single blog item-->
                            <div class="col-md-6">
                                <div class="single-blog-item">
                                    <div class="img-holder">
                                        <img src="{{ asset(publicite.imageName) }}" alt="Awesome Image">
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-type">
                                            <span class="flaticon-photo"></span>
                                        </div>
                                        <div class="post-date">
                                            <h3> {{publicite.date|date('d') }}<br> {{publicite.date|date('m-Y') }}</h3>
                                        </div>
                                    </div>
                                    <div class="text-holder">
                                        <a href="blog-single.html">
                                            <h3 class="blog-title">{{ publicite.Description }}</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--End single blog item-->

                        </div>
    {% endfor %}
                        <!--Start post pagination-->
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="post-pagination text-center">
                                    <li><a href="#"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End post pagination-->
                    </div>
                </div>
                <!--Start sidebar Wrapper-->
                <div class="col-lg-4 col-md-6 col-sm-7 col-xs-12">
                    <div class="sidebar-wrapper">
                        <!--Start single sidebar-->
                        <div class="single-sidebar wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                            <form class="search-form" action="#">
                                <input placeholder="Search..." type="text">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                            <div class="sec-title">
                                <h3>Latest News</h3>
                            </div>
                            <ul class="popular-post">
                                <li>
                                    <div class="img-holder">
                                        <img src="{{ asset('/front/images/sidebar/popular-post-1.jpg') }}" alt="Awesome Image">
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title-holder">
                                        <a href="#"><h5 class="post-title">Internet Searches Inspire Be<br> cause they Are Charitable.</h5></a>
                                        <h6 class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>18th Aug, 2017</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="img-holder">
                                        <img src="{{ asset('/front/images/sidebar/popular-post-2.jpg') }}" alt="Awesome Image">
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title-holder">
                                        <a href="#"><h5 class="post-title">River Stumble as Cruzeiro But <br>Fly High in Table Prove.</h5></a>
                                        <h6 class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>24th Jun, 2017</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="img-holder">
                                        <img src="{{ asset('/front/images/sidebar/popular-post-3.jpg') }}" alt="Awesome Image">
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title-holder">
                                        <a href="#"><h5 class="post-title">Everyone loses their cool over <br>Riley’s first date.</h5></a>
                                        <h6 class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>05th Mar, 2017</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                            <div class="sec-title">
                                <h3>Categories</h3>
                            </div>
                            <ul class="categories clearfix">
                                <li><a href="#">Social Events</a></li>
                                <li><a href="#">Business Related</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Cultural Party</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                            <div class="sec-title">
                                <h3>Facebook Feed</h3>
                            </div>
                            <div class="fb-feed-content">
                                <img src="{{ asset('/front/images/sidebar/fb-feed.jpg') }}" alt="Awesome Image">
                            </div>
                        </div>
                        <!--End single sidebar-->
                    </div>
                </div>
                <!--End Sidebar Wrapper-->
            </div>
        </div>
    </section>
    <!--End blog area-->
{% endblock %}