


{% extends "@Back/base.html.twig" %}

    {% block container %}

<!-- partial:../../partials/_sidebar.html -->

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                Liste des Demandes
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data table</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data table</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table">
                                <thead>
                                <tr>
                                    <td> <b> Id </b></td>
                                    <td> <b> DateD</b></td>
                                    <td> <b> Etat </b></td>
                                    <td> <b> RS_ID</b></td>
                                    <td> <b> Evenr</b></td>
                                    <td> <b> Supprimer</b></td>
                                    <td> <b> Accepter </b></td>
                                </tr>
                                </thead>
                                <tbody>

                                {% for value in liste %}
                                    <tr>
                                        <td> {{ value.id }}  </td>
                                        <td> {{ value.DateD  |date('Y-m-d') }}  </td>
                                        <td> {{ value.etat  }}  </td>
                                        <td> {{ value.ressource  }}  </td>
                                        <td> {{ value.event.id  }}  </td>
                                        <td> <a href ="{{ path('supprimerDemande',{'id': value.id}) }}"> click </a> </td>

                                        <td> <a href ="{{ path('UpdateDemandes',{'id': value.id, 'Id_RS': value.ressource ,'Id_Event': value.event.id} ) }}"> click </a> </td>


                                    </tr>
                                {% endfor %}




                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->

    <script src="{{ asset ('back/js/data-table.js') }}"></script>

    {% endblock %}


