{% extends "@Back/base.html.twig" %}

    {% block container %}

<!-- partial:../../partials/_sidebar.html -->

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                Liste des ressources
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data table</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data table</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Description</th>
                                    <th>Domaine</th>
                                    <th>Link</th>

                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ressource in ressources %}

                                    <tr>
                                        <td>{{ ressource.nom }}</td>
                                        <td>{{ ressource.prenom }}</td>
                                        <td>{{ ressource.description }}</td>
                                        <td>{{ ressource.domaine }}</td>
                                        <td>{{ ressource.link }}</td>


                                        <td>
                                            <button class="btn btn-outline-primary" onclick="window.location.href ='{{ path('supprimerAdmin', { 'id': ressource.id }) }}}';">Supprimer</button>
                                            <button class="btn btn-outline-primary" onclick="window.location.href ='{{ path('ressource_edit', { 'id': ressource.id }) }}';">edit</button>


                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->

    <script src="{{ asset ('back/js/data-table.js') }}"></script>

    {% endblock %}


