{% extends '@Back/base.html.twig' %}

{% block container %}
<h1> Modifier Publicité </h1>


    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                {{ form_start(edit_form) }}

                <form class="form-sample">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.description, {'attr':{'class':'form-control' }}) }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.date, {'attr':{'class':'form-control' }}) }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Durée</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.duree, {'attr':{'class':'form-control' }}) }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">priorité</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.priorite, {'attr':{'class':'form-control' }}) }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Image</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.imageFile, {'attr':{'class':'form-control' }}) }}
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-6">

                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form, {'attr':{'class':'form-control' }}) }}
                        <input  type="submit" value="Edit"  />
                        {{ form_end(edit_form) }}

                        <ul>
                            <li>
                                {{ form_start(delete_form) }}
                                <input type="submit" value="Delete" >
                                {{ form_end(delete_form) }}
                            </li>
                            <li>
                                <a href="{{ path('publicite_index') }}">Back to the list</a>
                            </li>

                        </ul>
                    </div>



                </form>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>

    {% endblock %}